<div class="row outer-big-box">
	<div class="middle-big-box">
		<div class="inner-big-box">
			<div class="gold-ticker">
				<p>gold price ticker here</p>
			</div>
			<div class="title-box">
				<h1>Goblin Gold</h1>
			</div>
			<div class="jabber-box">
				<p>This is where we jibber-jabber at you</p>
			</div>
			<div class="product">
				<p>This is product 1</p>
				<img class="product-pic" src="../Images/shilling.jpg">
				<p>Price</p>
			</div>
			<div class="product">
				<p>This is product 2</p>
				<img class="product-pic" src="../Images/peso_1924.jpg">
				<p>Price</p>
			</div>
			<div class="product">
				<p>This is product 3</p>
				<img class="product-pic" src="../Images/dos_pesos_1921.jpg">
				<p>Price</p>
			</div>
		</div>
	</div>
</div>



